@model IEnumerable<Item>

@{
    ViewData["Title"] = "List of Items";
}

<style>
    body {
        background-image: url('/css/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        background-attachment: fixed;
    }
</style>

<div class="container align-text-top text-center" style="font-family: 'Harry Potter', sans-serif; margin-top:8%;">
    <h1>SAMI POTTER SHOP</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <form id="sortForm" asp-controller="Items" asp-action="Index" method="get">
                <label for="sortOrder">Sort By:</label>
                <select id="sortOrder" name="sortOrder" class="form-select">
                    <option value="Name">Name</option>
                    <option value="Date">Start Date</option>
                    <option value="Price Decrease">Price Decrease</option>
                    <option value="Price Increase">Price Increase</option>
                    <option value="Category">Category</option>
                </select>
                <button type="submit" class="btn btn-dark mt-2">Sort</button>
            </form>
        </div>
        <div class="col-md-2">
            <form id="filterForm" asp-controller="Items" asp-action="FilterByCategory" method="get">
                <label for="categoryFilter">Filter By Category:</label>
                <select id="categoryFilter" name="categoryFilter" class="form-select">
                    <option value="">All Categories</option>
                    <option value="Shirt">Shirt</option>
                    <option value="Hat">Hat</option>
                    <option value="Scarff">Scarff</option>
                    <option value="Broom">Broom</option>
                    <option value="Movie">Movie</option>
                    <option value="VideoGame">Video Game</option>
                </select>
                <button type="submit" class="btn btn-dark mt-2">Filter</button>
            </form>
        </div>
        <div class="col-md-2">
            <form id="filterDateForm" asp-controller="Items" asp-action="FilterByDate" method="get">
                <label for="dateFilter">Filter By Date:</label>
                <select id="dateFilter" name="dateFilter" class="form-select">
                    <option value="">All Dates</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.StartDate.ToString()">@item.StartDate.ToString()</option>
                    }
                </select>
                <button type="submit" class="btn btn-dark mt-2">Filter</button>
            </form>
        </div>
        <div class="col-md-2">
            <form id="filterOnSaleForm" asp-controller="Items" asp-action="FilterOnSale" method="get">
                <label for="onSaleFilter">On Sale:</label>
                <select id="onSaleFilter" name="onSaleFilter" class="form-select">
                    <option value="">All Items</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <button type="submit" class="btn btn-dark mt-2">Filter</button>
            </form>
        </div>
        <div class="col-md-2">
            <form id="priceRangeForm" asp-controller="Items" asp-action="FilterByPrice" method="post">
                <label for="minPrice">Minimum Price:</label>
                <input class="rounded" type="number" id="minPrice" name="minPrice" value="0" />
                <label for="maxPrice">Maximum Price:</label>
                <input class="rounded mt-1" type="number" id="maxPrice" name="maxPrice" value="200" />
                <br />
                <button type="submit" class="btn btn-dark mt-2">Filter</button>
            </form>
        </div>
        <div class="col-md-2">
            <br />
            <form id="filterMostPopular" asp-controller="Items" asp-action="FilterMostPopular" method="post">
                <button id="mostPopularFilter" name="mostPopularFilter" class="btn btn-dark"><i class="bi bi-star-fill"></i> Most Popular</button>
            </form>
        </div>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white" style="background-color: #f5d376;">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white" asp-action="Edit" asp-route-id="@item.Id" style="position: absolute; right: 10px; top: 10px;"><i class="bi-pencil-square" style="background-color: #f5d376;"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body text-black">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Warehouse: </b>@item.Name</p>
                            <p class="card-text"><b>Category: </b>@item.ItemCategory</p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>Stock: </b>@item.Amount.ToString()</p>
                            <p class="card-text">
                                <b>Status: </b>
                                @if (item.Amount > 0)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger text-white">OUT OF STOCK</span>
                                }
                            </p>
                            <p class="card-text">
                                <b>Price: </b>
                                @{
                                    if (item.Price < item.OriginalPrice)
                                    {
                                        item.OnSale = true;
                                        <span id="price">
                                            <del class="text-danger">@item.OriginalPrice.ToString("c")</del>
                                        </span>
                                        double DecreasePerc = ((item.OriginalPrice - item.Price) / item.OriginalPrice) * 100;
                                        int DecreasePercInteger = (int)DecreasePerc;
                                        <span class="badge bg-danger text-white">@DecreasePercInteger% off</span>
                                    }
                                    else
                                    {
                                        item.OnSale = false;
                                        <span id="price">
                                            @item.Price.ToString("c")
                                        </span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p>
                                <a class="btn btn-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-success text-white @(item.Amount == 0 ? "disabled" : "")" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                                </a>
                                @if (item.Amount > 0)
                                {
                                    <a class="btn btn-success" id="buy-now-btn">Buy</a>
                                }
                                else
                                {
                                    <a class="btn btn-warning" id="notify-btn">Notify</a>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Items");

@section Scripts {
    <script>
        function executePurchase() {
            var url = '@Url.Action("CompleteOrder", "Orders", new { })';
            window.location.href = url;
        }

        document.getElementById('buy-now-btn').addEventListener('click', function () {
            executePurchase();
        });
    </script>
}